<img src="https://www.flaticon.com/svg/static/icons/svg/891/891462.svg" alt="cart" class="cart"  data-toggle="modal" data-target="#exampleModal">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="cart_list">
              
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Оформити замовлення</button>
        </div>
      </div>
    </div>
</div>
<header id="home">
    <h1 class="heading">FRENKIE'S SHOP</h1>
</header>
<div class="container">
    <div class="row">
            
            <input class="form-control shop_search" type="text" placeholder="Пошук" [(ngModel)]="searchStr">
            <app-card 
            *ngFor="let card of cards | search:searchStr"
            [card]="card"
            ></app-card>
    </div>
</div>